@tailwind base;
@tailwind components;
@tailwind utilities;

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

.exo-2-heavy {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply space-mono-regular;
}

@keyframes cycleDown {
  0% {
    transform: translateY(-20%);
    filter: blur(1px);
    opacity: 0.7;
    z-index: 20;
  }
  5% {
    transform: translateY(-10%);
    filter: blur(0px);
    opacity: 1;
    z-index: 20;
  }
  10% {
    transform: translateY(0);
    filter: blur(0px);
    opacity: 1;
    z-index: 0;
  }
  25%,
  90% {
    transform: translateY(50vh);
    filter: blur(0px);
    opacity: 0;
    z-index: 0;
  }
  100% {
    transform: translateY(-20%);
    filter: blur(0px);
    opacity: 1;
    z-index: 0;
  }
}

@keyframes cycleHorizontal {
  0% {
    transform: translatex(-60vw);
    filter: blur(1px);
    opacity: 1;
    z-index: 20;
  }
  10% {
    transform: translatex(10vw);
    filter: blur(0px);
    opacity: 1;
    z-index: 20;
  }

  85% {
    transform: translatex(100vw);
    filter: blur(0px);
    opacity: 0;
    z-index: 0;
  }
  100% {
    transform: translatex(-60vw);
    filter: blur(0px);
    opacity: 1;
    z-index: 0;
  }
}

.cycling-image {
  will-change: transform, filter, opacity;
  overflow-y: auto;
}

@media (min-width: 1280px) {
  .cycling-image {
    animation: cycleDown 24s infinite;
  }
}

@media (max-width: 1279px) {
  .cycling-image {
    animation: cycleHorizontal 24s infinite;
  }
}

.cycling-image:nth-child(1) {
  animation-delay: 0s;
}
.cycling-image:nth-child(2) {
  animation-delay: 3.5s;
}
.cycling-image:nth-child(3) {
  animation-delay: 7.75s;
}
.cycling-image:nth-child(4) {
  animation-delay: 8s;
}
.cycling-image:nth-child(5) {
  animation-delay: 12.25s;
}
.cycling-image:nth-child(6) {
  animation-delay: 16.5s;
}
.cycling-image:nth-child(7) {
  animation-delay: 20.5s;
}

.cycling-image:nth-child(8) {
  animation-delay: 24.5s;
}

@keyframes flicker {
  0%,
  45%,
  100% {
    background-color: #9d4ccf; /* purple */
  }
  50%,
  95% {
    background-color: #249436; /* green */
  }
}

.animate-flicker {
  animation: flicker 3.25s infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 1s ease-out;
}

.purpleGlow {
  text-shadow: 0 0 10px rgba(168, 85, 247, 0.5);
}

.purpleGlow :global(.file-tree-item:hover),
.purpleGlow :global(.file-tree-item[data-selected="true"]) {
  background-color: rgba(168, 85, 247, 0.2);
  box-shadow: 0 0 10px rgba(168, 85, 247, 0.3);
}

.purpleGlow :global(svg) {
  filter: drop-shadow(0 0 5px rgba(168, 85, 247, 0.5));
}

@keyframes twinkle {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.stars::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background-image: radial-gradient(
      2px 2px at 20px 30px,
      #eee,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(2px 2px at 40px 70px, #fff, rgba(0, 0, 0, 0)),
    radial-gradient(1px 1px at 90px 40px, #fff, rgba(0, 0, 0, 0));
  background-repeat: repeat;
  background-size: 200px 200px;
  animation: twinkle 4s infinite;
  transform: rotate(45deg);
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.shimmer-effect {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: shimmer 2s;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.shimmer {
  animation: shimmer 2s infinite;
}
