---
import AboutMe from '../components/AboutMe';
import { DynamicStars } from '../components/DynamicStars';
import Welcome from '../components/Welcome';
import Layout from '../layouts/Layout.astro';

// const props = Astro.locals.netlify.context;
// console.log(props);


//netlify cdn!!
// Yes, this code executes all optimizations concurrently
// const [optimizedTechIcons, optimizedMeImages] = 
// await Promise.all([
//   Promise.all(
//     techIcons.map(async (icon) => {
//       const optimizedImage = await getImage({
//         src: import(`../assets/TechIcons${icon.src}`),
//         format: 'webp'
//       });
//       return { ...icon, optimizedSrc: optimizedImage.src };
//     })
//   ),
//   Promise.all(
//     meImages.map(async (imagePath) => {
//       const optimizedImage = await getImage({
//         src: import(`../assets/Me/${imagePath}`), // Add file extension if possible
//         format: 'webp'
//       });
//       return { original: imagePath, optimizedSrc: optimizedImage.src };
//     })
//   )
// ]);
---

<Layout title="Hayden White" description="Explore the digital world of Hayden White.">
	<DynamicStars client:load />
	<section id="welcome">
		<div class="mx-auto p-4 max-w-[80%] md:max-w-[50%] text-white text-xl leading-relaxed flex items-center min-h-screen ">
			<Welcome />
		</div>
	</section>
	<section id="about-me" >
		<div class="overflow-hidden">
			<div class="mx-auto p-4  max-w-[80%] text-white text-xl leading-relaxed flex items-center min-h-screen">
				<AboutMe client:visible optimizedTechIcons={[]} optimizedMeImages={[]}>
				</AboutMe>
			</div>
		</div>
	</section>
	<section id="projects">

	</section>
	<section id="interests">
		
	</section>

	<section id="contact"></section>
</Layout>

